* {

    margin: auto;
    text-align: center;

}

button.nationalNavButton {

    background: none;
    border: none;

}

button.statesNavButton {

    background: none;
    border: none;

}

#stateOverview {
    display: none;
}

#detailedPage {
    display: block;
}